import * as S from './styles'

export type {{pascalCase name}}Props = {
    label?:string
}
const {{pascalCase name}} = ({label}:{{pascalCase name}}Props) => (
  <S.Wrapper>
    <h1>{label}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
